.list {
  padding: 20px;
  display: flex;
  border: 1px solid #000;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);// хз оставить ли
  }

  &__close {
    cursor: pointer;
    height: 20px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
  }

  &__title {
    margin: 0 auto 20px;
  }

  &__text {
    margin: 0;
  }

  &__date {

  }

  &__img {
    object-fit: cover;
    min-width: 200px;
    min-height: 200px;
  }

}
