.logo {
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  display: block;
  width: 130px;
  height: 130px;
  background-image: url("../../../public/images/header/headerLogo.png");
  transition: opacity .3s ease-out;
  //
  //&__type_center {
  //  @media screen and (max-width: 450px) {
  //    margin: 0 auto;
  //  }
  //}

  &:hover {
    opacity: 0.8;
  }
}
